
@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from "part:@sanity/dashboard/widget-styles";
}

.header {
  composes: header from "part:@sanity/dashboard/widget-styles";
}

.content {
  position: relative;
  padding: var(--medium-padding) var(--medium-padding) var(--small-padding) var(--medium-padding);
  border-top: 1px solid var(--hairline-color);
  min-height: 66px;
}

.title {
  composes: title from "part:@sanity/dashboard/widget-styles";
}

.footer {
  composes: title from "part:@sanity/dashboard/widget-styles";
}

.status {
  padding: var(--medium-padding) var(--medium-padding);
  display: inline-block;
  color:#ea1010;
}

.button {
  padding: var(--small-padding) var(--small-padding);
}
